<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint
        name="BlackJackEndpoint"
        address="net.tcp://localhost:13000/BlackJackLibrary/BlackJackService"
        binding="netTcpBinding"
        contract="BlackJackLibrary.IBlackJack"
      />
    </client>
  </system.serviceModel>
</configuration>